# Ignore subdirectories
*/**

# Allow files and directories
!.*
!dotconfig
!dotconfig/**
!subrepos
!subrepos/**


# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.env*
**/*.log
**/*.DS_Store


# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# ignore all *.class files in all folders, including build root
**/*.class


# story files
**/*.Rhistory
**/*.Rapp.history

# Session Data files
**/*.RData


# temporary files
**/*.tmp

# Vim swap files
**/*.swp


# emacs
# Compiled
**/*.elc

# Packaging
**/.cask

# Backup files
**/*~

# Undo-tree save-files
**/*.~undo-tree
