# Ignore subdirectories
**

# Allow dotfiles and directories
!.**
!dotconfig
!dotconfig/**
!subrepos
!subrepos/**
!/.*
!/Library/Application Support/Code/User/settings.json
!/.emacs.d/init.el
!/.emacs.d/custom-lib/lisp+.el
!Makefile


## Ignore unnecessary files inside allowed directories

# This should go after the allowed directories
**/*~
**/*.env*
**/*.log


## OS X
**/.DS_Store

# Thumbnails
**/._*

# Files that might appear on external disk
**/.Spotlight-V100
**/.Trashes


# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# ignore all *.class files in all folders, including build root
**/*.class


# story files
**/*.Rhistory
**/*.Rapp.history

# Session Data files
**/*.RData


# temporary files
**/*.tmp

# Vim swap files
**/*.swp


## Elisp
# Compiled
**/*.elc

# Packaging
**/.cask

# Backup files
**/*~

# Undo-tree save-files
**/*.~undo-tree
